{% extends 'base.html.twig' %}

{% block title %}

    {% if app.user %}
    Salut, {{ app.user.username }}
    {% else %}
    Welcome!
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user %}
        {% if isVerified == 0 %}
            Your email is not verified! <a href="{{path('app_send_email_verification')}}">Send link!</a>
            {% endif %}
    {% endif %}



{% endblock %}
