{% extends 'base.html.twig' %}

{% block title %}

    {% if app.user %}
    Salut, {{ app.user.username }}
    {% else %}
    Welcome!
    {% endif %}
{% endblock %}

{% block body %}
    <p class="justify-center"> Bun venit, {{ user }}! </p>
{% endblock %}
