{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block body %}
    {# Added my-5 for better vertical spacing on larger screens #}
    <div class="container py-4">
        <div class="row justify-content-center">
            {# Increased column size for a wider, more modern look #}
            <div class="col-12 col-md-8 col-lg-6">

                {# Added border-primary for a touch of color #}
                <div class="card shadow-lg border-0 border-top border-primary border-5 rounded-3">
                    <div class="card-body p-5">

                        <h3 class="text-center mb-4 text-primary">
                            <i class="fas fa-user-plus me-2"></i>Creează un cont
                        </h3>

                        {{ form(form) }}

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}