{% extends 'base.html.twig' %}

{% block title %}Work App | Holidays{% endblock %}

{% block body %}

    <div class="flex justify-center relative top-3">
    <a href="{{ path('app_concediu_new') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Request Holiday</a>
    <a href="{{ path('app_concediu_showconcedii') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Your Holidays</a>

    {% if is_granted('ROLE_ADMIN') %}

    <a href="{{ path('app_pending_concedii') }}" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Admin - Approve Holidays</a>

    {% endif %}

    </div>

{% endblock %}