{% extends 'base.html.twig' %}

{% block title %}Cerere Concediu{% endblock %}

{% block body %}

    {{ form(form) }}

{#    <form action="{{ path('app_concediu_new') }}" method="POST">#}

{#        <label for="startDate">#}
{#            <input type="datetime-local" class="block dark:text-black" id="startDate" name="startDate" required>#}
{#        </label>#}

{#        <label for="endDate">#}
{#            <input type="datetime-local" class="block dark:text-black" id="endDate" name="endDate" required>#}
{#        </label>#}

{#        <button type="submit" name="submit" class="block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Trimite la aprobare</button>#}

{#    </form>#}

{% endblock %}