{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}

    <form action="{{ path('app_login') }}" method="POST">

        <div>
            <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Email:
                <input type="text" name="_username" value="{{ lastUsername }}" class="block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2"/>
            </label>
        </div>

        <div>
            <label class="block text-sm text-gray-700 dark:text-gray-300 font-medium">Password:
                <input type="password" name="_password" class="block w-full shadow-sm border-gray-300 dark:border-transparent dark:text-gray-800 rounded-md border p-2 mt-1 mb-2"/>
            </label>
        </div>

        <input type="hidden" name="_target_path" value="/users">
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        <button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Login</button>

    </form>

{% endblock %}
