{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>Edit User</h1>

    {{ include('user_crud/_editForm.html.twig') }}

    {{ include('user_crud/_delete_form.html.twig') }}

    <a href="{{ path('app_user_crud_index') }}" class="text-center block w-full shadow-sm border-transparent bg-indigo-600 hover:bg-indigo-700 dark:bg-indigo-500 dark:hover:bg-indigo-400 text-white rounded-md border p-2 mt-4 mb-2">Back to list</a>

{% endblock %}
