{% extends 'base.html.twig' %}
{% block title %}Work App | Settings{% endblock %}

{% block body %}
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
      rel="stylesheet"/>

<div class="mx-4 min-h-screen max-w-screen-xl sm:mx-8 xl:mx-auto">
    <h1 class="py-6 text-4xl font-semibold">Settings</h1>
    <div class="grid grid-cols-8 pt-3 sm:grid-cols-10">
        <!-- Left menu: Account and Appearance -->
        <div class="col-span-2 hidden sm:block">
            <nav class="mt-5 space-y-2">
                <a href="{{ path('app_account_settings') }}"
                   class="block cursor-pointer rounded-lg px-3 py-2 font-semibold text-gray-700 transition hover:bg-blue-50 hover:text-blue-900 border-l-4 border-transparent hover:border-l-blue-700">
                    Account
                </a>
                <a href="{{ path('app_settings_appearance') }}"
                   class="block cursor-pointer rounded-lg px-3 py-2 font-semibold text-blue-700 transition hover:bg-blue-50 hover:text-blue-900 border-l-4 border-l-blue-700">
                    Appearance
                </a>
            </nav>
        </div>

    <!-- Right content: Account settings and forms -->
    <div class="col-span-8 overflow-hidden rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow text-gray-900">
        {% if app.request.query.get('error') %}
            <div class="mt-4 text-red-500">{{ app.request.query.get('error') }}</div>
        {% endif %}
        <div class="pt-2">
            <h1 class="py-2 text-2xl font-semibold">Appearance</h1>
        </div>
        <hr class="mt-4 mb-2"/>

        <div class="flex items-center space-x-4 mb-4 mt-4"> <!-- Added flex and spacing -->
            <p class="font-bold text-gray-900">Toggle Dark Mode:</p>
            <button id="darkModeToggle" class="text-white mt-0 bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-3 transition-all duration-300 dark:bg-blue-700 dark:hover:bg-blue-800 dark:focus:ring-blue-800" onclick="toggleDarkMode()">
                Here
            </button>
        </div>



    </div>

{% endblock %}