{% extends 'base.html.twig' %}
{% block title %}Work App | Settings{% endblock %}

{% block body %}
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap"
          rel="stylesheet"/>

    <div class="mx-4 min-h-screen max-w-screen-xl sm:mx-8 xl:mx-auto">
        <h1 class="border-b py-6 text-4xl font-semibold">Settings</h1>
        <div class="grid grid-cols-8 pt-3 sm:grid-cols-10">
            <div class="col-span-2 hidden sm:block">
                <a href="{{ path('app_account_settings') }}"
                   class="block mt-5 cursor-pointer border-l-2 border-l-blue-700 px-2 py-2 font-semibold text-blue-700 transition hover:border-l-blue-700 hover:text-blue-700">Account</a>
                <a href="{{ path('app_profile') }}"
                   class="block mt-5 cursor-pointer border-l-2 border-transparent px-2 py-2 font-semibold transition hover:border-l-blue-700 hover:text-blue-700">Profile</a>
            </div>
            <div class="col-span-8 overflow-hidden rounded-xl sm:bg-gray-50 sm:px-8 sm:shadow text-gray-900">
                <div class="pt-2">
                    <h1 class="py-2 text-2xl font-semibold">Account > Change your email</h1>
                </div>
                <hr>
                <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-10">
                    <!-- EMAIL CHANGE FORM -->
                    <form action="{{ path('app_change_email') }}" method="post">
                        <p class="py-2 text-xl font-semibold">Enter your new email: </p>
                        <div class="flex items-center">
                            <div class="flex flex-col space-y-2 sm:flex-row sm:space-y-0 sm:space-x-3">
                                <label for="new-email">
                                    <span class="text-sm text-gray-500">New Email</span>
                                    <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                                        <input type="email" name="new-email"
                                               required
                                               class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                                               placeholder="Type your new email..."/>
                                    </div>
                                </label>
                                <label for="confirm-email">
                                    <span class="text-sm text-gray-500">Confirm Email</span>
                                    <div class="relative flex overflow-hidden rounded-md border-2 transition focus-within:border-blue-600">
                                        <input type="email" name="confirm-email" required
                                               class="w-full flex-shrink appearance-none border-gray-300 bg-white py-2 px-4 text-base text-gray-700 placeholder-gray-400 focus:outline-none"
                                               placeholder="Confirm your new email..."/>
                                    </div>
                                </label>
                            </div>
                        </div>
                        <button type="submit" class="mt-4 rounded-lg bg-blue-600 px-4 py-2 text-white"
                                id="reset-password-button">Save
                        </button>
                    </form>
                    <!-- EMAIL CHANGE END FORM -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}